#### Excercise 2: Getting and Knowing Your Data

In [ ]:
### Step 1. Import the necessary libraries
import pandas as pd
import numpy as np

In [ ]:
### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv). 
### Step 3. Assign it to a variable called chipo.
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')

In [ ]:
### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv). 
### Step 3. Assign it to a variable called chipo.
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')

In [ ]:
### Step 5. What is the number of observations in the dataset?
# Soln. 1

chipo.shape[0]  # entries <= 4622 observations

In [ ]:
# Soln. 2

chipo.info() # entries <= 4622 observations

In [ ]:
### Step 6. What is the number of columns in the dataset?
chipo.shape[1]

In [ ]:
### Step 7. Print the name of all the columns.
chipo.columns

In [ ]:
### Step 8. How is the dataset indexed?
chipo.index

In [ ]:
### Step 9. Which was the most-ordered item? 
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

In [ ]:
### Step 10. For the most-ordered item, how many items were ordered?
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

In [ ]:
### Step 11. What was the most ordered item in the choice_description column?
c = chipo.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)
# Diet Coke 159

In [ ]:
### Step 12. How many items were orderd in total?
total_items_orders = chipo.quantity.sum()
total_items_orders

In [ ]:
### Step 13.a. Turn the item price into a float
#### Step 13.a. Check the item price type
chipo.item_price.dtype

In [ ]:
#### Step 13.b. Create a lambda function and change the type of item price
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

In [ ]:
#### Step 13.c. Check the item price type
chipo.item_price.dtype

In [ ]:
### Step 14. How much was the revenue for the period in the dataset?
revenue = (chipo['quantity']* chipo['item_price']).sum()

print('Revenue was: $' + str(np.round(revenue,2)))

In [ ]:
### Step 15. How many orders were made in the period?
orders = chipo.order_id.value_counts().count()
orders

In [ ]:
### Step 16. What is the average revenue amount per order?
# Solution 1
"""
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']
"""

In [ ]:
# Solution 2
"""
chipo.groupby(by=['order_id']).sum().mean()['revenue']
"""

In [ ]:
### Step 17. How many different items are sold?
chipo.item_name.value_counts().count()

Excercise NO. 3.

In [ ]:
# Step 1. Import the necessary libraries
import pandas as pd

In [ ]:
### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user). 
### Step 3. Assign it to a variable called users and use the 'user_id' as index
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', 
                      sep='|', index_col='user_id')

In [ ]:
### Step 4. See the first 25 entries
users.head(25)

In [ ]:
### Step 5. See the last 10 entries
users.tail(10)

In [ ]:
### Step 6. What is the number of observations in the dataset?
users.shape[0]

In [ ]:
### Step 7. What is the number of columns in the dataset?
users.shape[1]

In [ ]:
### Step 8. Print the name of all the columns.
users.columns

In [ ]:
### Step 9. How is the dataset indexed?
# "the index" (aka "the labels")
users.index

In [ ]:
### Step 10. What is the data type of each column?
users.dtypes

In [ ]:
### Step 11. Print only the occupation column
users.occupation

#or

users['occupation']

In [ ]:
### Step 12. How many different occupations are in this dataset?
users.occupation.nunique()
#or by using value_counts() which returns the count of unique elements
#users.occupation.value_counts().count()

In [ ]:
### Step 13. What is the most frequent occupation?
#Because "most" is asked
users.occupation.value_counts().head(1).index[0]

#or
#to have the top 5

# users.occupation.value_counts().head()

In [ ]:
## Step 14. Summarize the DataFrame.
users.describe() #Notice: by default, only the numeric columns are returned.

In [ ]:
### Step 15. Summarize all the columns
users.describe(include = "all") #Notice: By default, only the numeric columns are returned.

In [ ]:
### Step 16. Summarize only the occupation column
users.occupation.describe()

In [ ]:
### Step 17. What is the mean age of users?
round(users.age.mean())

In [ ]:
### Step 18. What is the age with least occurrence?
users.age.value_counts().tail() #7, 10, 11, 66 and 73 years -> only 1 occurrence

#### Excercise 1

In [ ]:
### Step 1. Go to https://www.kaggle.com/openfoodfacts/world-food-facts/data
###  Step 2. Download the dataset to your computer and unzip it.
import pandas as pd
import numpy as np

In [ ]:
### Step 3. Use the tsv file and assign it to a dataframe called food
food = pd.read_csv('~/Desktop/en.openfoodfacts.org.products.tsv', sep='\t')

In [ ]:
### Step 4. See the first 5 entries
food.head()

In [ ]:
### Step 5. What is the number of observations in the dataset?
food.shape #will give you both (observations/rows, columns)

In [ ]:
food.shape[0] #will give you only the observations/rows number

In [ ]:
### Step 6. What is the number of columns in the dataset?
print(food.shape) #will give you both (observations/rows, columns)
print(food.shape[1]) #will give you only the columns number

#OR

food.info() #Columns: 163 entries

In [ ]:
### Step 7. Print the name of all the columns.
food.columns

In [ ]:
### Step 8. What is the name of 105th column?
food.columns[105]

In [ ]:
### Step 9. What is the type of the observations of the 105th column?
food.dtypes['-glucose_100g']

In [ ]:
### Step 10. How is the dataset indexed?
food.index

In [ ]:
### Step 11. What is the product name of the 19th observation?
food.values[18][7]

: